<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manter Avaliador</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .helper-text{
            font-weight: bold;
            color: red !important;
        }

    </style>
</head>
<body>
<div th:replace="fragment/navbar :: navbar"></div>
<div class="container">
    <form th:action="@{/etiquetas/salvar}" th:object="${etiqueta}" method="POST">
        <input type="hidden" name="etiquetaId" th:field="*{id}"/>
        <div class="card" style="margin-top:5em;">
            <div class="card-content">
                <span class="card-title">Manter Etiqueta</span>
                <div class="row">
                    <div class="input-field col s4">
                        <input id="titulo" name="titulo" type="text" class="validate"
                               th:field="*{titulo}">
                        <label for="titulo">Título</label>
                        <span class="helper-text" data-error="wrong" data-success="right"
                              th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
                    </div>
                    <div class="input-field col s4">
                        <input id="descricao" name="descricao" type="text" class="validate"
                               th:field="*{descricao}">
                        <label for="descricao">Descrição</label>
                        <span class="helper-text" data-error="wrong" data-success="right"
                              th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
                    </div>
                    <div class="input-field col s4">
                        <input id="url" name="url" type="text" class="validate"
                               th:field="*{url}">
                        <label for="url">Url</label>
                        <span class="helper-text" data-error="wrong" data-success="right"
                              th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></span>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button type="submit" class="waves-effect waves-light btn green">Salvar</button>
                <a th:href="@{/etiquetas/}" class="waves-effect waves-light btn grey">Cancelar</a>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('select').formSelect();
    });
</script>
</body>
</html>